.contact-input {
    margin: 3rem 0;
    padding: 1.2rem;
    color: #333;
    border: none;
    border-radius: 5px;
    margin-right: .9rem;
    width: 40rem;
    border: 1px solid grey;
    background-color: #dddddd;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact {
    margin: 8rem 0;
}